.profile{
    width: calc(20vw + 100px);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 15%;
    border: 5px solid darkblue;
    transition: 0.3s;
}

.profile:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.3s;
}

.bio{
    position: absolute;
    left: 15%;
}
.b0{
    font-size: 5rem;
    top: 40%;
}

.b1{
    font-size: 5rem;
    top: 50%;
}
.b2{
    top: 65%;
}

@media(max-width: 900px) {
    .profile{
        right: 5%;
    }
    .bio{
        position: absolute;
        left: 15%;
    }
    .b0{
        font-size: 3rem;
        top: 50vw;
    }
    
    .b1{
        font-size: 3rem;
        top: 60vw;
    }
    .b2{
        top: 70vw;
    }
}

@media(max-width: 450px) {

    .profile{
        position: static;
        width: 60vw;
        margin: 20vw;
        border-radius: 50%;
        top: 30%;
        right: 15%;
        border: 2px solid darkblue;
        transition: 0.3s;
    }
    .bio{
        position: static;
        width: 70vw;
        margin-left: 15vw;
        left: 15%;
    }
    .b0{
        font-size: 3rem;
        bottom: 20vw;
    }
    
    .b1{
        font-size: 3rem;
        top: 60vw;
    }
    .b2{
        top: 70vw;
    }
}
