nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}   


nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    display: inline !important;
    margin: 10px;
    font-size: 1.5rem; 
    font-weight: bolder;
}

.nav-link{
    color: black;
}

.nav-links ul li a:hover{
    color: darkblue;
}

.active {
    color: darkblue !important;
    border-bottom: 3px solid darkblue;
    transition: 0.3s;
}


nav .fa{
    display: none;
}


@media(max-width: 1115px){
    .nav-links{
        position: absolute;
        background: #26272b;
        height: 60vh;
        top: 0;
        right: 0;
        text-align: right;
        z-index: 2;
        /* padding: auto; */
        border-radius: 20% 0 0 100%;
    }

    .menu-open{
        width: 250px;
        transition: 0.3s;
    }
    
    .menu-close{
        width: 0px;
        display: none;
        transition: 0.3s;
    }

    .nav-links ul{
        padding: none !important;
    }
    .nav-links ul li{
        padding: 20px 0;
    }
    .nav-link{
        color: white !important;
    }
    .active{
        color: darkblue !important;
    }

    nav .fa{
        display: block;
        margin: 10px;
        cursor: pointer;
    }
    nav .fa-bars{
        font-size: 22px;
        color: black;
    }
    nav .fa-times{
        position: absolute;
        top: 2%;
        left: 5%;
        font-size: 30px;
        color:aliceblue;
    }
}