body::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #737373;
    border-radius: 20px;
}

section {
    height: calc(100vh - 65px);

    

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* font-weight: bold; */
}

